.tiles g {
  fill: #a40000;
  fill-opacity: 0.6;
  /* border: 1px solid black; */
}
.tiles g:hover {
  fill: #50950b;
  fill-opacity: 0.7;
}
.tiles g:hover text {
  fill-opacity: 1;
}

.tiles g polygon {
  stroke: #f20beb;
  stroke-width: 0.2;
  transition: fill-opacity 0.5s;
  border: 1px solid black;
}
/* text inside */
.tiles g text {
  font-size: 0.22em;
  fill: white;
  fill-opacity: 0.7;
  transition: fill-opacity 0.5s;
}
/* for path of drag, . */
.tiles path {
  fill: none;
  stroke: #df4b07;
  stroke-width: 0.2em;
  stroke-opacity: 0.7;
  stroke-linecap: round;
  stroke-linejoin: round;
}
