.container {
  display: flex;
  flex-direction: column;
  margin: 10;
  background-color: antiquewhite;
  padding: 10;
  width: 24%;
  right: 0;
  position: fixed;
  height: 100%;
}

.title {
  display: flex;
  padding: 10;
  border: 1px solid grey;
  margin: 5px;
  justify-content: space-between;
}

.img {
  object-fit: cover;
  width: 70%;
}
.desc {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.cart {
  padding: 20;
  align-items: center;
}
